{% extends 'layout.html' %}
{% block content %}
<div class="contact-info">
    <h1>Contact Us</h1>
    <p>For inquiries, please contact any of the creators:</p>
    <div class="person">
        <h2>Shiv Rastogi</h2>
        <p>Email: <a href="mailto:sr2331@srmist.edu.in">sr2331@srmist.edu.in</a></p>
    </div>
    <div class="person">
        <h2>Akshat Srivastava</h2>
        <p>Email: <a href="mailto:as0507@srmist.edu.in">as0507@srmist.edu.in</a></p>
    </div>
    <div class="person">
        <h2>Varun Gadi</h2>
        <p>Email: <a href="mailto:vg8100@srmist.edu.in">vg8100@srmist.edu.in</a></p>
    </div>
    <div class="person">
        <h2>Dewangi Sharma</h2>
        <p>Email: <a href="mailto:ds6714@srmist.edu.in">ds6714@srmist.edu.in</a></p>
    </div>
</div>
{% endblock %}
